@model MovieStore.Models.RandomListVM
@{
    ViewBag.Title = "Largest Number";
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(num => num.Value)</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Random Numbers</th>
            </tr>
        </thead>
    </table>
    @foreach (var item in Model.RndList)
    {
        <span>@Html.DisplayFor(modelItem => item) &nbsp;</span>
    }
</div>