@model List<string>

@{
    ViewBag.Title = "Alphabetical Order";
}


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Names
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }

    </table>
</div>
