@model MusicStore.Models.Genre

@using MusicStore.Models

@{
    ViewBag.Title = "Browse";
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Album Name</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var album in Model.Albums)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Detail", "Store", new {name = Model.Name, albumId = album.Id })" class="nav-link">
                            @album.Name
                        </a>
                    </td>
                    <td>
                        @album.Artist
                    </td>
                    <td>
                        @album.Id
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>