
@{
    ViewBag.Title = "About";
    //Layout = null;
}

<div class="container">
    
    <p>
        my name is Andreas Johansson. <br />
        I'm currently studying ASP .NET<br />

        <p class="font-weight-bold">Experience</p>
        2013-02-20 > 2013-05-24<br />
        Mobile App Developer at 10Finger Nyköping<br /><br />

        we developed games with Corona SDK in LUA.
        <hr />
        <p class="font-weight-bold">Education</p>
        <p class="font-weight-light">2017-10-16 > Current</p>
        ASP .NET Developer at Lexicon Norrköping. <br /> <br />

        <p class="font-weight-light">2015-11-10 > 2016-11-10</p>
        Java Developer at Plushögskolan Stockholm. <br /> <br />

        <p class="font-weight-light">2009-08-10 > 2012-05-10</p>
        El Utbildning at Gripen Nyköping. <br />
        Electrician course with a focus on computers <br /><br />
    </p>
        
</div>


