
@{
    ViewBag.Title = "Projects";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <p>list of the intresting assignments and projects I'm developing</p>

    <p class="font-weight-bold">C#</p>
    <ul>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/PracticalCalculator/PracticalCalculator">Pratical Calculator</a></li>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/SchoolApplicationExtra/SchoolApplicationExtra">School Application</a></li>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/AreanaFighterExtra/ArenaFighter">Arena Fighter</a></li>
    </ul>
    <p class="font-weight-bold">JQuery</p>
    <ul>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/WebBasics/AssignmentJQuery">Basic JQuery Assignment Page</a></li>
    </ul>
    <p class="font-weight-bold">JavaScript</p>
    <ul>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/WebBasics/AssignmentJavaScript">Basic JS Assignment Page</a></li>
    </ul>
    <p class="font-weight-bold">TDD</p>
    <ul>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/StringCalculatorTDD">C# Kata - String Calculator</a></li>
        <li><a href="https://github.com/Roflcoffel/csharp_basics/tree/master/FizzBuzzTDD">Fizz Buzz</a></li>
    </ul>
</div>
