<!DOCTYPE html>
<html ng-app="AngularEx">
<head>
    <meta charset="utf-8" />
    <title>AngularJS Exercise</title>
    <script src="scripts/angular.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body ng-controller="AngController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AngularMain</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="AngularMain.html">Home</a></li>
            </ul>
            <button class="btn navbar-btn">Exercise 1</button>
            <button class="btn navbar-btn">Exercise 2</button>
            <button class="btn navbar-btn">Exercise 3</button>
        </div>
    </nav>

    Name: <input type="text" ng-model="name" /> <br/>
    <br />
    A: <input type="number" ng-model="a" />
    B: <input type="number" ng-model="b" />

    <h1>Hello {{name}}</h1>
    <p>Sum: {{a+b}}</p>
    <p>Diffrence: {{a-b}}</p>
    <p>Product: {{a*b}}</p>

    <script>
        angular.module('AngularEx', [])
        .controller('AngController', ['$scope', function ($scope) {
            
        }]);

    </script>
</body>
</html>
