@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<div class="container">


    @{
        //seems foreach is not recommended in a view.
        //and a display template should be used instead.
        foreach (var item in ViewBag.List)
        {
            <h4>@item</h4>
        }
     }
</div>
